body {
  margin-left: 300px;
  background-image: url("timessqcrop.jpg");
  background-position: 200px 200px center;
}

.hidden {
  display: none;
}
/*
h1 {
  font-size: 3em;
}*/

#info {
  width: 600px;
  height: 200px;
  text-align: center;
  color: yellow;;
  font-weight: bold;
  font-size: 2em;
}

#gameboard {
  width: 600px;
  height: 250px;
  background-color: green;
  border-radius: 20px;
}

.card {
  position: absolute;
  transition: left 1s ease;
  height: 80px;
  width: 50px;
  background-color: red;
  padding: 10px;
  box-shadow: 4px 4px black;
  background-image: url(cardback280x100.jpg);
}

#left {
  left: 365px;
  top: 320px;
}

#center {
  left: 565px;
  top: 320px;
}

#right {
  left: 765px;
  top: 320px;
}

/*#ball {
  background-color: blue;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  left: 10px;
  top: 27.5px;
  display: inline-block;
  transition: display 1s ease;
}*/

#ball {
  display: inline-block;
  position: relative;
  left: 10px;
  top: 25px;
  /*left:-150px;
  top: -400px;*/
  transition: left 1s ease;
  transition: top 1s ease;
  background: #5cabff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0;
  background: radial-gradient(circle at 30px 30px, #5cabff, #000);
}

#ball.active {
  left: 10px
  top: 25px;
}
#ball.hidden {
  display: none;
}


#buttons {
  width: 600px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

button {
  font-size: 2em;
  border-radius: 3px;
}
