body {
  margin-left: 300px;
  background-image: url("timessqcrop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  display: none;
}

#info {
  width: 600px;
  height: 200px;
  text-align: center;
  color: yellow;;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 3px 3px black;
}

#gameboard {
  width: 600px;
  height: 250px;
  background-color: green;
  border-radius: 20px;
  box-shadow: 5px 5px black;
}

.card {
  position: absolute;
  transition-property: left;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 80px;
  width: 50px;
  background-color: red;
  padding: 10px;
  box-shadow: 4px 4px black;
  background-image: url(cardback280x100.jpg);
  border-radius: 5px;
  top: 320px;
}

#left {
  left: 365px;
}

#center {
  left: 565px;
}

#right {
  left: 765px;
}

#ball {
  display: inline-block;
  position: relative;
  left: 5px;
  top: 20px;
  background: #5cabff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  background: radial-gradient(circle at 30px 30px, #5cabff, #000);
}

#ball.hidden {
  display: none;
}


#buttons {
  width: 600px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

button {
  font-size: 2em;
  border-radius: 3px;
}

footer {
  font-size: 1em;
  margin-left: 70%;
  color: yellow;
  font-weight: bold;
  text-shadow: 3px 3px black;
}

/*BELOW THIS IS EXPERIMENTAL CODE FOR A BOUNCING BALL ON WINDOW LOAD*/

@keyframes travel {
  from { left: 0px    }
  to   { left: 640px; }
}

@keyframes bounce {
  from, to  {
    bottom: 0;
    animation-timing-function: ease-out;
  }
    50% {
      bottom: 220px;
      animation-timing-function: ease-in;
    }
  }

  #stage {
    position: relative;
    margin: 1em auto;
    width: 660px;
    height: 240px;
    border: none;
    background: none;
  }
  #traveler {
    position: absolute;
    width: 20px;
    height: 240px;

    animation-name: travel;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 4.8s;
  }

  #bouncer {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #5cabff;
    border-radius: 25px;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 4.2s;
    background: radial-gradient(circle at 30px 30px, #5cabff, #000);
  }
